body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1e1e2f, #2b2b45);
    color: white;
}

/* LANDING */
.landing-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title {
    font-size: 42px;
}

.app-subtitle {
    color: #cfcfcf;
    margin-bottom: 30px;
}

/* AUTH */
.auth-card {
    background: white;
    color: black;
    padding: 20px;
    width: 320px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}

.auth-card input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.auth-card button {
    width: 95%;
    padding: 10px;
    background: #4a4aff;
    color: white;
    border: none;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    background: #0f172a;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-icon {
    font-size: 22px;
}

.nav-right span {
    margin-left: 20px;
    cursor: pointer;
}

.nav-right span:hover {
    color: #38bdf8;
}

/* SECTIONS */
.section {
    padding: 20px;
}

.hidden {
    display: none;
}

/* POPUP */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;          /* 👈 DEFAULT HIDDEN */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay.active {
    display: flex;          /* 👈 SHOW ONLY WHEN NEEDED */
}

.popup-box {
    background: white;
    color: black;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}
/* AI RESULT POPUP COLORS */
.popup-box.safe {
    border-left: 6px solid #22c55e;
}

.popup-box.toxic {
    border-left: 6px solid #ef4444;
}
